<%= link_to(spam_filter_reports_path) do %>
  <%= icon("chevron-left") %>
  <span><%= t("decidim.spam_signal.admin.actions.go_back") %></span>
<% end %>

<div class="content spam_signal__section">
  <h1 class="card-title">
    <%= t("headings.title", scope: i18n_scope).upcase %> (<% if @form %>2<% else %>1<% end %>/2)
  </h1>
<div>

  <% if @form %>
<div class="grid-x grid-margin-y callout">
  <div class="cell small-10">
    <strong><%= t("name", scope: current_scanner.i18n_key).upcase %></strong><br />
    <em><%= t("description", scope: current_scanner.i18n_key) %></em>
  </div>
</div>
    <%= decidim_form_for(@form, url: routes.send(create_path, config_id: current_config.id), builder: Decidim::SpamSignal::SpamSettingsFormBuilder, method: :post, html: {class: "callout"}) do |f| %>
      <div class="form-fields">
        <em><%= t("#{current_scanner.i18n_key}.description", default: "") %></em>
        <%= f.all_fields %>
        <input type="hidden" name="id" value="<%= current_scanner.handler_name %>" />
        <div class="actions">
          <%= f.submit t("decidim.spam_signal.admin.actions.save") %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="callout">
      <h2><%= t("headings.choose_scan", scope: i18n_scope) %></h2>
      <div class="stacked button-group">
        <% available_scanners.each do |scan| %>
          <%= link_to(routes.send(new_path, config_id: current_config.id, id: scan.handler_name), class: "button") do %>
            <strong><%= t("#{scan.i18n_key}.name").upcase %></strong><br />
            <em><%= t("#{scan.i18n_key}.description", default: "") %></em>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>