<div class="field" id="config-form">
  <%= form.text_field :days_before_delete %>
  <%= form.check_box :validate_profile %>
  <%= form.check_box :validate_comments %>
  <%= form.text_area :stop_list_tlds %>
  <%= form.text_area :stop_list_words %>
</div>
