
<style>
.spam_signal__metric {
  font-size: 2rem;
  font-weight: bold;
  font-family: Courrier, monospace;
}
.content.spam_signal__section {
  margin-top: 4rem;
  margin-bottom: 8rem;
  clear: both;
}
.spam_signal__actions {
  margin-top: 4rem;
}

.cell.rules ,
.cell.scanners ,
.cell.cops{
  margin: 0;
  padding: 0 2px;
}
.rules h3,
.scanners h2,
.cops h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
}
.rules h2,
.scanners h2,
.cops h2 {
  border-bottom: 2px solid #DDD;
  min-height: 40px;
  background: #3b4557;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 0px 0px #EBEBEB;
  margin-bottom: 0;
}

.spam_settings {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: 1rem;
}
.rules h2,
.cops h2{
  padding-left: 0.3rem;
}

.rules h3,
.cops h3
{
  text-transform: uppercase;
  letter-spacing: 0.3;
  font-weight: bold;
  background: #DDD;
  min-height: 40.39px;
}

.rules h3 .button ,
.cops h3 .button ,
.scanners h2 .button
{
  display: inline-block;
  justify-self: flex-end;
  margin: 0 !important;
  padding: 3px 16px;
}
.table_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;
}

.table_item .button.small ,
.table_item form ,
.table_item .button-group {
  margin-bottom: 0;
}

</style>
<% partial_dir = "/decidim/spam_signal/admin/spam_filter_reports" %>

<div class="content">
  <h1 class="card-title">
    <%= t(".headings.title") %>
  </h1>
</div>

<div class="content spam_signal__section ">
    <h2><%= t(".headings.comment_settings.title") %></h2>
    <h3><%= t(".headings.comment_settings.description") %></h3>
  <!-- Display the configurations, and link actions -->
  <div class="grid-x grid-margin-y spam_settings">
    <div class="cell small-12 medium-4 scanners">
      <h2>
        <span><%= t(".headings.scanner_settings.title") %></span>
        <% if available_scanners("comments").length > 0 %><%= link_to(routes.new_config_comment_scan_path(config_id: @current_config.id), class: "button  action") do %>+<% end %><% end %>
      </h2>
      <% @comment_settings.scans.each do |scan, options| %>
        <div class="table_item">
          <%= link_to(routes.edit_config_comment_scan_path(config_id: @current_config.id, id: scan),class: "link") do %>
            <%= t("#{@comment_settings.scan_strategy(scan).i18n_key}.name")%>
          <% end %>
          <div>
            <div class="button-group">
              <%= button_to("✏️", routes.edit_config_comment_scan_path(config_id: @current_config.id, id: scan), method: :get, class: "button small secondary") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="cell small-12 medium-4 rules">
      <h2><%= t(".headings.rules_settings.title") %></h2>
      <h3>
        <span><%= t(".headings.rules_settings.spam_section") %></span>
        <%= link_to("+ OR", routes.new_config_comment_rule_path(config_id: @current_config.id, rule: "spam"), class: "button small") %>
      </h3>
      <% @comment_settings.rules.filter {|_, r| r["handler_name"] == "spam"}.each do |rule_id, rule| %>
        <div class="table_item">
          <%= link_to(routes.edit_config_comment_rule_path(config_id: @current_config.id, id: rule_id), method: :get, class: "link") do %>
          <%= t("decidim.spam_signal.scans.outputs.if_word") %>
                        <%= rule["rules"].map {|k, v| content_tag(:code, t("decidim.spam_signal.scans.outputs.#{k}")) }.flatten.join(
                          content_tag(:span, t("decidim.spam_signal.scans.outputs.and_word"), class: "spam_module_and_word")
                        ).html_safe %>

          <% end %>
          <div>
            <div class="button-group">
              <%= button_to("✏️", routes.edit_config_comment_rule_path(config_id: @current_config.id, id: rule_id), method: :get, class: "button small secondary") %>
            </div>
          </div>
        </div>
      <% end %>
      <h3 style="margin-top: 2rem">
        <span><%= t(".headings.rules_settings.suspicious_section") %></span>
        <%= link_to("+ OR", routes.new_config_comment_rule_path(config_id: @current_config.id, rule: "suspicious"), class: "button small") %>
      </h3>
      <% @comment_settings.rules.filter {|_, r| r["handler_name"] == "suspicious"}.each do |rule_id, rule| %>
        <div class="table_item">
          <%= link_to(routes.edit_config_comment_rule_path(config_id: @current_config.id, id: rule_id), method: :get, class: "link") do %>
          <%= t("decidim.spam_signal.scans.outputs.if_word") %>
            <%= rule["rules"].map {|k, v| content_tag(:code, t("decidim.spam_signal.scans.outputs.#{k}")) }.flatten.join(
              content_tag(:span, t("decidim.spam_signal.scans.outputs.and_word"), class: "spam_module_and_word")
            ).html_safe %>
          <% end %>
          <div>
            <div class="button-group">
              <%= button_to("✏️", routes.edit_config_comment_rule_path(config_id: @current_config.id, id: rule_id), method: :get, class: "button small secondary") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cell small-12 medium-4 cops">
      <h2><%= t(".headings.cop_settings.title") %></h2>
      <h3><span><%= t(".headings.cop_settings.spam_section") %></span></h3>
        <div class="table_item">
          <%= link_to(routes.edit_config_comment_cop_path(config_id: @current_config.id, id: "spam", cop: (@comment_settings.spam_cop["handler_name"] unless @comment_settings.spam_cop.empty?)), class: "link") do %>
            <% if @comment_settings.spam_cop.empty? %>
                  <%= t("decidim.spam_signal.admin.cops.no_cops") %>
            <% else %>
              <%= t("decidim.spam_signal.cops.#{@comment_settings.spam_cop["handler_name"]}.name") %>
            <% end %>
          <% end %>
          <div>
            <div class="button-group">
              <%= link_to("✏️", routes.edit_config_comment_cop_path(config_id: @current_config.id, id: "spam", cop: (@comment_settings.spam_cop["handler_name"] unless @comment_settings.spam_cop.empty?)), class: "button small secondary") %>
            </div>
          </div>
        </div>
            <h3 style="margin-top: 2rem">
              <span><%= t(".headings.cop_settings.suspicious_section") %></span>
            </h3>
        <div class="table_item">
          <%= link_to(routes.edit_config_comment_cop_path(config_id: @current_config.id, id: "suspicious", cop: (@comment_settings.suspicious_cop["handler_name"] unless @comment_settings.suspicious_cop.empty?)), class: "link") do %>
            <% if @comment_settings.suspicious_cop.empty? %>
                  <%= t("decidim.spam_signal.admin.cops.no_cops") %>
            <% else %>
              <%= t("decidim.spam_signal.cops.#{@comment_settings.spam_cop["handler_name"]}.name") %>
            <% end %>
          <% end %>
          <div>
            <div class="button-group">
              <%= link_to("✏️", routes.edit_config_comment_cop_path(config_id: @current_config.id, id: "suspicious", cop: (@comment_settings.suspicious_cop["handler_name"] unless @comment_settings.suspicious_cop.empty?)), class: "button small secondary") %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="content spam_signal__section ">
  <h2><%= t(".headings.profile_settings.title") %></h2>
  <h3><%= t(".headings.profile_settings.description") %></h3>
  <!-- Display the configurations, and link actions -->
  <div class="grid-x grid-margin-y spam_settings">
    <div class="cell small-12 medium-4 scanners">
      <h2>
        <span><%= t(".headings.scanner_settings.title") %></span>
        <% if available_scanners("profiles").length > 0 %><%= link_to(routes.new_config_profile_scan_path(config_id: @current_config.id), class: "button  action") do %>+<% end %><% end %>
      </h2>
      <% @profile_settings.scans.each do |scan, options| %>
        <div class="table_item">
          <%= link_to(routes.edit_config_profile_scan_path(config_id: @current_config.id, id: scan), method: :get, class: "link") do %>
            <%= t("#{@profile_settings.scan_strategy(scan).i18n_key}.name")%>
          <% end %>
          <div>
            <div class="button-group">
              <%= button_to("✏️", routes.edit_config_profile_scan_path(config_id: @current_config.id, id: scan), method: :get, class: "button small secondary") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="cell small-12 medium-4 rules">
      <h2><%= t(".headings.rules_settings.title") %></h2>
      <h3>
        <span><%= t(".headings.rules_settings.spam_section") %></span>
        <%= link_to("+ OR", routes.new_config_profile_rule_path(config_id: @current_config.id, rule: "spam"), class: "button small") %>
      </h3>
      <% @profile_settings.rules.filter {|_, r| r["handler_name"] == "spam"}.each do |rule_id, rule| %>
        <div class="table_item">
          <%= link_to(routes.edit_config_profile_rule_path(config_id: @current_config.id, id: rule_id, rule: "spam"), method: :get, class: "link") do %>
          <%= t("decidim.spam_signal.scans.outputs.if_word") %>
                        <%= rule["rules"].map {|k, v| content_tag(:code, t("decidim.spam_signal.scans.outputs.#{k}")) }.flatten.join(
                          content_tag(:span, t("decidim.spam_signal.scans.outputs.and_word"), class: "spam_module_and_word")
                        ).html_safe %>

          <% end %>
          <div>
            <div class="button-group">
              <%= button_to("✏️", routes.edit_config_profile_rule_path(config_id: @current_config.id, id: rule_id, rule: "spam"), method: :get, class: "button small secondary") %>
            </div>
          </div>
        </div>
      <% end %>
      <h3 style="margin-top: 2rem">
        <span><%= t(".headings.rules_settings.suspicious_section") %></span>
        <%= link_to("+ OR", routes.new_config_profile_rule_path(config_id: @current_config.id, rule: "suspicious"), class: "button small") %>
      </h3>
      <% @profile_settings.rules.filter {|_, r| r["handler_name"] == "suspicious"}.each do |rule_id, rule| %>
        <div class="table_item">
          <%= link_to(routes.edit_config_profile_rule_path(config_id: @current_config.id, id: rule_id, rule: "suspicious"), class: "link") do %>
          <%= t("decidim.spam_signal.scans.outputs.if_word") %>
                        <%= rule["rules"].map {|k, v| content_tag(:code, t("decidim.spam_signal.scans.outputs.#{k}")) }.flatten.join(
                          content_tag(:span, t("decidim.spam_signal.scans.outputs.and_word"), class: "spam_module_and_word")
                        ).html_safe %>

          <% end %>
          <div>
            <div class="button-group">
              <%= button_to("✏️", routes.edit_config_profile_rule_path(config_id: @current_config.id, id: rule_id, rule: "suspicious"), method: :get, class: "button small secondary") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cell small-12 medium-4 cops">
      <h2><%= t(".headings.cop_settings.title") %></h2>
      <h3><span><%= t(".headings.cop_settings.spam_section") %></span></h3>
        <div class="table_item">
          <%= link_to(routes.edit_config_profile_cop_path(config_id: @current_config.id, id: "spam", cop: (@profile_settings.spam_cop["handler_name"] unless @profile_settings.spam_cop.empty?)), class: "link") do %>
            <% if @profile_settings.spam_cop.empty? %>
                  <%= t("decidim.spam_signal.admin.cops.no_cops") %>
            <% else %>
              <%= t("decidim.spam_signal.cops.#{@profile_settings.spam_cop["handler_name"]}.name") %>
            <% end %>
          <% end %>
          <div>
            <div class="button-group">
              <%= link_to("✏️", routes.edit_config_profile_cop_path(config_id: @current_config.id, id: "spam", cop: (@profile_settings.spam_cop["handler_name"] unless @profile_settings.spam_cop.empty?)), class: "button small secondary") %>
            </div>
          </div>
        </div>
            <h3 style="margin-top: 2rem"><span><%= t(".headings.cop_settings.suspicious_section") %></span> </h3>
        <div class="table_item">
          <%= link_to(routes.edit_config_profile_cop_path(config_id: @current_config.id, id: "suspicious", cop: (@profile_settings.suspicious_cop["handler_name"] unless @profile_settings.suspicious_cop.empty?)), class: "link") do %>
            <% if @profile_settings.suspicious_cop.empty? %>
                  <%= t("decidim.spam_signal.admin.cops.no_cops") %>
            <% else %>
              <%= t("decidim.spam_signal.cops.#{@profile_settings.spam_cop["handler_name"]}.name") %>
            <% end %>
          <% end %>
          <div>
            <div class="button-group">
              <%= link_to("✏️", routes.edit_config_profile_cop_path(config_id: @current_config.id, id: "suspicious", cop: (@profile_settings.suspicious_cop["handler_name"] unless @profile_settings.suspicious_cop.empty?)), class: "button small secondary") %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>