
<style>
.spam_signal__metric {
  font-size: 2rem;
  font-weight: bold;
  font-family: Courrier, monospace;
}
.spam_signal__section {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.spam_signal__actions {
  margin-top: 4rem;
}
</style>
<% partial_dir = "/decidim/spam_signal/admin/spam_filter_reports" %>

<div class="content spam_signal__section">
  <div class="grid-x grid-margin-x">
    <div class="cell small-6">
      <div class="card">
        <h2 class="card-title card-divider">
          <%= t(".headings.title") %>
        </h2>
        <div class="card-content card-section">
        <%= t(".readme_html") %>
        </div>
      </div>
    </div>
    <div class="cell small-6">
      <div class="card">
        <h2 class="card-title card-divider">
          <%= t(".headings.cops_title") %>
        </h2>
        <div class="card-content card-section">
          <%= t(".cops_readme_html") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content spam_signal__section">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <h2><%= t(".headings.spam_flow") %></h2>
      <%= decidim_form_for(@form_configuration, url: config_path(@form_configuration.id), method: :patch, html: {class: "callout", id: "ConfigurationForm"}) do |f| %>
        <%= render partial: "#{partial_dir}/form",
                   locals: { form: f} %>
        <div class="form-actions spam_signal__actions">
          <%= f.submit t(".actions.save") %>
          <button class="button hollow" type="reset"><%= t(".actions.cancel")%></button>
        </div>
      <% end %>
    </div>

    <%= render partial: "#{partial_dir}/metrics",
              locals: { quarantine: quarantine} %>

    <%= render partial: "#{partial_dir}/settings_forms",
               locals: { scanner_forms: @scanner_forms, cop_forms: @cop_forms} %>
  </div>
  <% if quarantine.count > 0 %>
    <div class="grid-x grid-margin-x spam_signal__section" id="review-quarantine">
      <%= render partial: "#{partial_dir}/quarantine_list",
                locals: { quarantine: quarantine} %>
    </div>
  <% end %>
</div>