<div class="field" id="config-form">
  <h2>Protect user's profile</h2>
  <%= form.select :profile_scan, scanners_list, include_blank: false %>
  <%= form.select :profile_obvious_cop, cops_list, include_blank: false %>
  <%= form.select :profile_suspicious_cop, cops_list, include_blank: false %>
  <h2>Protect comments</h2>
  <%= form.select :comment_scan, scanners_list, include_blank: false %>
  <%= form.select :comment_obvious_cop, cops_list, include_blank: false %>
  <%= form.select :comment_suspicious_cop, cops_list, include_blank: false %>
</div>
